/* @import url("480.css") all and (min-width: 360px); */


header{
    background: #75ded9;
}


body {
  margin: 0px;
}


body p{
  margin: 0px;
}


.navig{
  /* padding-top: 32px; */
  /* padding-bottom: 32px; */
  /* background: -webkit-gradient(linear, left top, left bottom, from(#82b3b1), to(#75ded9)); */
  /* background: linear-gradient(to bottom, #82b3b1, #75ded9); */
}

.logo{
  font-size: 28px !important;
  font-family: "Montserrat";
  color: white;
  letter-spacing: 1.5px;
  float: left;
  /* padding: 5px 5em; */
  margin-top: 0.5em !important;
  margin-bottom: 0.5em;
  width: 48% !important;
  padding: 15px;
  background: #75ded9 !important;
}



@-webkit-keyframes checked-anim {
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
        z-index: 2;
    }
}



@keyframes checked-anim {
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
        z-index: 2;
    }
}
#menu li,#menu a {
    /* margin: 75px 0 -55px 0; */
    /* color: #03A9F4; */
    /* font: 14pt "Roboto", sans-serif; */
    /* font-weight: 700; */
    /* line-height: 1.8; */
    font-size: 25px;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
    background: #01a2a6;
    /* border-radius: 50px; */
}
#menu li {
    /* width: 230px; */
    /* text-indent: 56px; */
    width: 100%;
    margin-top: 1em;
    }
#menu a:focus {
    display: block;
    color: #333;
    background-color: #eee;
    -webkit-transition: all .5s;
    transition: all .5s;
}

#trig, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #03A9F4;
    width: 30px;
    height: 5px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    cursor: pointer;
    z-index: 3;
}
#trig {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trig + #burger {
    top: 35px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
}

#menu-toggle:checked + #trig + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    -webkit-transform: rotate(45deg) translateX(-5px);
            transform: rotate(45deg) translateX(-5px);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
}
#menu-toggle:checked + #trig + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    -webkit-transform: rotate(-45deg) translateX(-5px);
            transform: rotate(-45deg) translateX(-5px);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
}
#menu {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
            box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    -webkit-animation: not-checked-anim .0.2s both;
            animation: not-checked-anim .0.2s both;
    -webkit-transition: .2s;
    transition: .2s;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#menu-toggle:checked + #trig + #burger + #menu {
     -webkit-animation: checked-anim 0.2s ease both;
             animation: checked-anim 0.2s ease both; 
}
#menu-toggle:checked + #trig ~ #menu > li,#menu a {
    display: block !important;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}


.menu-main {
  list-style: none;
  padding: 5px 0px;
  text-align: center;
  margin-top: 0px;
  margin: 0px;
}

.menu-main:hover{
  display: block;
  }


.menu-main li {display: inline-block;}
.menu-main li:after {
  color: #606060;
  display: inline-block;
  vertical-align:top;
}


.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: "LatoRegular";
  letter-spacing: 2px;
  padding: 15px;
  position: relative;
  margin: 0 1px 0 10px;
  font-size: 14px;
  display: inline-block;
  -webkit-transition: color .2s;
  transition: color .2s;
  border: 3px solid transparent;
  border-radius: 50px;
}


.menu-main a, .menu-main a:visited {color: white;}
.menu-main a.current, .menu-main a:hover{color: white;}
.menu-main a:hover {
  border: 3px solid white;
}


.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:hover {content: none;}
.menu-main a {
  /* padding: 25px 0 20px; */
  /* margin: 0 30px; */
}
}


#header_div1{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 height: 570px;
 background: url(../image/1.png) no-repeat;
 background-size: cover;
 background-position: center;
}


#header_div1 img{
   width: 100%;
}


#header_div2 {
  font-size: 44px;
  position: absolute;
  top: 115px;
  color: white;
  font-family: "ChunkFiveExtraBold";
}

.colortext{
  color: #01a2a6;
}


#header_div3{
 position: absolute;
 text-align: center;
 color: white;
 font-family: "LatoRegular";
 font-size: 16px;
 top: 190px;
 letter-spacing: 0.4px;
 line-height: 35px;
 width: 99%;
}


#header_div4{
  font-family: "LatoBold";
  font-size: 16px;
  top: 314px;
  position: absolute;
  color: #333;
  text-decoration: none;
  background: #ffffa6;
  padding: 25px 40px;
  border-radius: 70px;
  font-weight: 900;
}

.body_div1{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.body_div2{
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 25px;
  z-index: 1;
}

.body_div3{
  font-size: 50px;
  font-family: "ChunkFiveExtraBold";
  color: #29d9c2;
  margin-top: 0.3em;
  /* width: 45%; */
  /* margin-left: 10px; */
  text-align: center;
}


.body_img2{
  position: absolute;
  width: 90%;
  top: -43px;
}

.body_div3 p{
  font-size: 15px;
  font-family: "LatoRegular";
  line-height: 35px;
  color: #777;
  margin-top: 1.5em;
}

.block3_div1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #cef3f3;
}


.block3_div2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 97%;
}

.block3_div3{
  color: #29d9c2;
  font-size: 45px;
  font-family: "ChunkFiveExtraBold";
  margin-top: 0.3em;
}

.block3_div3 p{
  font-family: "LatoRegular";
  font-size: 15px;
  color: #777;
  line-height: 35px;
  margin-top: 1em;
  width: 130%;
}


.block3_a1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "LatoRegular";
  font-size: 11px;
  color: #ccc;
  text-decoration: none;
  margin-top: 3em;
  height: 20px;
}


.block3_a1 img{
  margin-right: 10px;
}

.block3_div4{
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 3em;
  margin-bottom: 18px;
  height: 44px;
}

.block3_input1{
 border: none;
 outline: none;
 width: 175px;
 border-radius: 50px;
 /* margin-left: 5px; */
 width: 126px;
}

::-webkit-input-placeholder {color:#ccc;}
::-moz-placeholder          {color:#ccc;}
:-moz-placeholder           {color:#ccc;}
:-ms-input-placeholder      {color:#ccc;}

.serch{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  padding: 7.5px 0px 7.5px 4px;
  border: 1px solid #ccc;
  background: white;
}

.outline{
  outline: none;
}

#block3_p2{
  height: 32px;
  margin-top: 0.2em;
  /* display: flex; */
  text-align: right;
}

#block3_p2 a{
  text-decoration: none;
  font-size: 14px;
  font-family: "LatoRegular";
  font-weight: 900;
  height: 15px;
}


.block3_a2{
  color: #777;
}

.block3_a3{
  color: #ccc;
}

.block3_a3:{
  color: #777;
}


.block3_div5{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block3_div6{
  position: relative;
}

.block3_img1{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 329px;
}

.block3_div7{
  position: absolute;
  top: 0;
  /* bottom: 0; */
  /* right: 0; */
  /* height: 100%; */
  /* width: 100%; */
  background: rgba(255, 255, 255, 0.8);
  background-size: 100% 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}


.block3_img2{
  margin-top: 5px;
  width: 9%;
  height: 20%;
}

.block3_p3{
  font-size: 30px;
  font-family: "LatoLight";
  color: #00cccc;
  margin-top: 10px;
  margin-left: 6px;
}

.block3_p4{
  font-size: 16px;
  font-family: "LatoBold";
  color: #777777;
  line-height: 35px;
  margin-top: 3px;
  margin-left: 13px;
  margin-right: 1px;
  height: 280px;
}

.block3_div8{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 56px;
  position: relative;
  margin-bottom: 20px;
}

.block3_div9{
  position: absolute;
  top: 0;
  left: 0;
  height: 39.2%;
  background: rgba(255, 255, 255, 0.8);
  background-size: 100% 100%;
  /* padding-right: 15px; */
  /* width: 46%; */
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 223px;
}

.block3_img3{
  margin-top: 15px;
  margin-left: 10px;
  /* width: 41%; */
  /* height: 20%; */
}

.block3_p5{
  font-size: 30px;
  font-family: "LatoLight";
  color: #00cccc;
  margin-top: 32px;
  margin-left: 5px;
  text-shadow: 0px 0px 0.5px #00cccc;
}

.block3_p6{
  font-size: 16px;
  font-family: "LatoRegular";
  color: #777;
  line-height: 35px;
  margin-top: 10px;
  margin-left: 10px;
  height: 145px;
}

.block3_strong{
color: #777777 !important;
font-family: "LatoBold" !important;
}

.block3_img4{
  width: 100%;
  height: 223px;
}

.block3_div10{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 60px;
}

.block3_div11{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block3_img{
  position: absolute;
}

.block3_img5{
width: 100%;
}

.bottom_see_more{
  position: absolute;
  color: white;
  font-family: "LatoRegular";
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  padding: 13px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bottom_see_more:hover{
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,1);
          box-shadow: 0 0 10px rgba(0,0,0,1);
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block3_div6 a{
  right: 0%;
  bottom: -14%;
  z-index: 5;
  background: url("../image/7.png") right bottom;
  background-size: 36em;
}

.block3_div11 a{
 right: 0%;
 bottom: 50.8%;
 z-index: 2;
 background: url(../image/10.png) right bottom;
 background-size: 28em;
}

.block3_div10 a{right: 1%;bottom: 1%;}

.change_div{
  background: red;
  height: 100px;
  width: 100px;
  display: none;
}

.change_div1{
  background: blue;
  height: 100px;
  width: 100px;
  display: none;
}

.change_div2{
  background: yellow;
  height: 100px;
  width: 100px;
  display: none;
}

.change_div3{
  background: green;
  height: 100px;
  width: 100px;
  display: none;
}

.change_div4{
  background: black;
  height: 100px;
  width: 100px;
  display: none;
}

.navigator{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 60%;
  margin-bottom: 30px;
  overflow: hidden;
}

.navigator a{
  text-decoration: none;
  color: #ccc;
  font-family: "ChunkFiveExtraBold";
  font-size: 18px;
}

#bottom1{
  font-size: 23px;
  color: #01a2a6;
}

.div_nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#box4{
  width: 95%;
}

#block4{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#block4_set{
  color: #29d9c2;
  font-family: "ChunkFiveExtraBold";
  font-size: 61px;
  margin-top: 1em;
  text-align: center;
}

#block4_set p{
  font-size: 15px;
  line-height: 31px;
  font-family: "LatoRegular";
  color: #777;
  margin-top: 20px;
  margin-bottom: 40px;
}

#block4_form{
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  padding-bottom: 70px;
}

#form_top{
  background: url("../image/19.png") no-repeat #29d9c2 right;
  font-size: 18px;
  font-family: "LatoBold";
  color: white;
  width: 100%;
  text-align: center;
  padding: 25px 0px 25px 0px;
  border-radius: 5px 5px 0 0;
}


#form{
  background: #ffffa6;
  width: 57%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form_middle{
      padding-left: 15px;
      width: 88.5%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
}

#calendar{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #29d9c2;
  font-family: "LatoBold";
  text-shadow: 1.1px 0.1px 0px;
  padding-bottom: 18px;
  margin-top: 25px;
  }

#calendar1{
  border: none;
  background: #ffffa6;
  outline: none;
  color: #29d9c2;
  font-family: "LatoBold";
  text-shadow: 1.1px 0.1px 0px;
  }


.form_distination1{
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.4px solid #d5d57d;
  border-radius: 6px;
  padding: 10px 0px 10px 0px;
  color: #626262;
  font-family: "LatoLight";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form_distination1 img{
  padding-left: 20px;
  padding-right: 27px;
}

.form_img{
  padding: 10px 0px 10px 0px;
}

#form_p1{
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form_p2{
  font-size: 18px;
  color: #a8a8a8;
  padding-right: 24px;
}

#add{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 14px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 9px 14px 9px 12px;
    background: #f5e99e;
    font-family: "LatoBold";
    color: #d8cb7d;
    border-radius: 0px 0px 5px 5px;
    margin-right: 10px;
    text-decoration: none;
    margin-bottom: 14px;
}

#flex_p{
  border: 1px solid #d8cb7d;
  background: #d8cb7d;
  color: #ffffa6;
  text-align: center;
  border-radius: 300px;
  width: 20px;
  line-height: 22px;
  height: 20px;
  margin-left: 10px;
}

#vlog1{
  margin: 18px 0 10px 29px;
}

#vlog2{
  margin: 18px 0 18px 29px;
}


#destination_bottom{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  background: #f5e99e;
  margin-right: 10px;
  color: #aea25c;
  font-family: "LatoBold";
  border-radius: 0 0 0 5px;
}


 #calendar2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #29d9c2;
  font-family: "LatoBold";
  text-shadow: 1.1px 0.1px 0px;
  padding-bottom: 18px;
  margin-top: 25px;
  }


#Drag{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "LatoRegular";
  color: #d8cb7d;
  width: 100%;
  height: 66px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px dashed #d8cb7d;
  border-radius: 6px;
  background: #fbf6a3;
  margin-bottom: 60px;
}


#block4_form_right{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 43%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#List_of{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 9.1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #29d9c2;
  font-family: "LatoBold";
  font-size: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


#right_middle{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2em;
  color: #29d9c2;
  font-family: "LatoRegular";
  font-size: 15px;
  margin-top: 26px;
  margin-bottom: 18px;
}

#sort{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  outline: none;
  color: #d4d4d4;
  font-family: "LatoBold";
}

#Mountain{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 2em;
  height: 56%;
}

#Bromo{
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.4px solid #e8e8e8;
  border-radius: 6px;
  padding: 8px 0px 8px 0px;
  color: #626262;
  font-family: "LatoLight";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: default;
  width: 100%;
}


#right_p1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 22px;
  font-size: 24px;
}


#right_p2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #29d9c2;
  font-size: 14px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "LatoBold";
  margin-right: 14px;
}




.right_img{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
  width: 85%;
}

.right_hours{
  color: #29d9c2;
  font-weight: 600;
}

#right_time{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  color: #d4d4d4;
  margin-top: 10px;
  font-family: "LatoLight";
}


[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}


#bottoms{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: white;
  width: 100%;
  padding-top: 17px;
}

#bottoms a{
  text-decoration: none;
}


#save_as{
  background: #c3f37f;
  padding: 23px 20px 23px 20px;
  font-family: "LatoBold";
  border-radius: 32px;
  text-transform: uppercase;
  color: white;
}

#save_as img{
  margin-bottom: -5px;
  margin-right: 13px;
}

#print{
  font-family: "LatoBold";
  background: #3ddbc7;
  padding: 23px 25px 21px 25px;
  border-radius: 32px;
  margin-left: 25px;
  color: white;
}

#print img{
  margin-bottom: -5px;
  margin-right: 16px;
}


#contact{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("../image/22.png") no-repeat rgba(46, 176, 179, 0.8);
  background-size: cover;
  background-position: center center;
  height: 740px;
}

#contact_p{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 60px;
  font-family: "ChunkFiveExtraBold";
  color: white;
  margin: 20px 0 20px 0;
}

#Email{
  padding-left: 25px;
  grid-column: 1/5;
  grid-row: 1/2;
  border: 1px solid #a0bfbf;
  outline: none;
  border-radius: 6px;
  font-size: 14px;
  font-family: "LatoRegular";
}
#Company{
  padding-left: 25px;
  grid-row: 3/4;
  grid-column: 1/2;
  border: 1px solid #a0bfbf;
  outline: none;
  border-radius: 6px;
  font-size: 14px;
  font-family: "LatoRegular";
}
#Subject{
  padding-left: 25px;
  grid-row: 3/4;
  grid-column: 3/5;
  border: 1px solid #a0bfbf;
  outline: none;
  border-radius: 6px;
  font-size: 14px;
  font-family: "LatoRegular";
}
#Messages{
  padding-left: 25px;
  padding-top: 23px;
  padding-right: 25px;
  grid-column: 1/5;
  grid-row: 5/6;
  border: 1px solid #a0bfbf;
  outline: none;
  border-radius: 6px;
  font-size: 14px;
  font-family: "LatoRegular";
  resize: none;
}


#contact_form{
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 48% 4% 16% 32%;
  grid-template-columns: 48% 4% 8% 40%;
  -ms-grid-rows: 57px 20px 57px 20px 100px 28px 58px;
  grid-template-rows: 65px 20px 65px 20px 115px 30px 56px;
  /* margin-bottom: 75px; */
}

#contact1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


#send{
  grid-row: 7/8;
  grid-column: 4/5;
  background: #b5ed85;
  padding: 3px 0px 0px 0px;
  font-family: "LatoBold";
  font-size: 16px;
  border-radius: 31px;
  text-transform: uppercase;
  border: none;
  color: white;
}

#or{
  width: 100%;
  height: 4em;
  font-family: "Montserrat";
  font-size: 17px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


#telephon{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #09c9cc;
  padding: 10px;
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


#telephon p{
  font-family: "LatoRegular";
  font-size: 16px;
  margin-bottom: 13px;
}
#telephon img{
  margin-right: 10px;
  }

#youcan{
  font-family: "Latolight" !important;
  font-size: 33px !important;
  margin-bottom: 12px !important;
}


#map{
  text-decoration: none;
  margin-left: 22px;
  color: #fff772;
}

#green{
  background: linear-gradient(60deg, rgba(156, 230, 60, 0.83) 50%, #a4e052 50%);
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#keep{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  color: white;
  height: 100%;
}

#zag{
  font-family: "ChunkFiveExtraBold";
  font-size: 43px;
  /* margin-bottom: 10px; */
  text-align: center;
}


#small{
  font-family: "LatoRegular";
  text-align: center;
  font-size: 14px;
}

#keep_text{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#email{
  font-family: "LatoRegular";
  width: 86%;
  height: 50px;
  padding-left: 30px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: #83ad4a 1px solid;
  border-right: none;
}


#email_form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* width: 42%; */
  margin-bottom: 5px;
}


#send2{
  background: #01a2a6 url(../image/25.png) no-repeat;
  background-position: center;
  color: white;
  height: 54px;
  padding: 0;
  width: 76px;
  border: #83ad4a 1px solid;
  border-left: none;
  border-radius: 0 5px 5px 0;
}


#footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 135px;
  background: #2f2933 url("../image/26.png") no-repeat bottom;
  background-size: contain;
  color: #5d5c5c;
  font-family: "LatoRegular";
  font-size: 16px;
}

#footer1{
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer1 p{
  color: #5d5c5c;
  font-family: "LatoRegular";
  font-size: 16px;
}

#footer1 a{
  margin: 7px;
  }

#insta{
  width: 45px;
  height: 45px;
  background: url(../image/insta1.png) no-repeat bottom;
  background-size: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px;
}

#twiter{
  width: 45px;
  height: 45px;
  background: url("../image/twiter1.png") no-repeat bottom;
  background-size: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px;
}

#f1{
  width: 45px;
  height: 45px;
  background: url(../image/f1.png) no-repeat bottom;
  background-size: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px;
}


@font-face {
      font-family: "ChunkFiveExtraBold";
      src: url("../fonts/ChunkFiveExtraBold/ChunkFiveExtraBold.eot");
      src: url("../fonts/ChunkFiveExtraBold/ChunkFiveExtraBold.eot?#iefix")format("embedded-opentype"),
      url("../fonts/ChunkFiveExtraBold/ChunkFiveExtraBold.woff") format("woff"),
      url("../fonts/ChunkFiveExtraBold/ChunkFiveExtraBold.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }

  @font-face {
      font-family: "LatoRegular";
      src: url("../fonts/LatoRegular/LatoRegular.eot");
      src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
      url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
      url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }

  @font-face {
      font-family: "LatoBold";
      src: url("../fonts/LatoBold/LatoBold.eot");
      src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
      url("../fonts/LatoBold/LatoBold.woff") format("woff"),
      url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }

  @font-face {
      font-family: "LatoItalic";
      src: url("../fonts/LatoItalic/LatoItalic.eot");
      src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
      url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
      url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }

  @font-face {
      font-family: "LatoLight";
      src: url("../fonts/LatoLight/LatoLight.eot");
      src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
      url("../fonts/LatoLight/LatoLight.woff") format("woff"),
      url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }

  @font-face {
      font-family: "LatoBoldItalic";
      src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
      src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
      url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
      url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }

  @font-face {
      font-family: "LatoLightItalic";
      src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
      src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
      url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
      url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }

  @font-face {
      font-family: "Montserrat";
      src: url("../fonts/Montserrat-Regular.ttf");
      src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }